/* Colour palette: RGB (240, 233, 210) (230, 221, 196) (103, 137, 131) (24, 29, 49) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:rgb(24, 29, 49);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.nav-a {
    color:rgb(240, 233, 210);
    text-decoration: none;
    text-align: center;
}

.nav-li:hover {
    background-color: rgb(83, 90, 89)
}

.nav-a:active {
    background-color: rgb(103, 137, 131)
}

body {
    font-family: 'Roboto Mono', monospace;
}

.disclaimer {
    color: rgb(230, 221, 196);
    margin: 2.5% 25% 2.5% 10%;
}

aside {
    height: 90%;
    width: 15%;
    display: inline-block;
    position: fixed;
    top: 12%;
    right: 5%;
    padding: 0 2%;
    text-align: center;
    font-size: 12px;
    background:rgba(103, 137, 131, 0.5)
}

.aside-h2 {
    line-height: 1;
}

.aside-p {
    padding: 5% 0;
}
section {
    padding: 3% 5%;
    margin: 2.5% 25% 2.5% 10%;
}

.a {
    background: rgb(240, 233, 210);
}

.b {
    background: rgba(240, 233, 210, 0.25);
}

a {
    color: rgb(103, 137, 131);
}

h1, h2 {
    font-family: 'Pacifico', cursive;
    color: rgb(24, 29, 49);
    font-size: 32px;
}

.strikeThrough {
    text-decoration: line-through;
}

p {
    line-height: 1.6;
    padding: 2% 0;
}

hr {
    border-top: 7px dotted rgb(24, 29, 49);
    width: 30px;
    
}

img {
    padding: 5% 0;
}