/* Colour palette: RGB (240, 233, 210) (230, 221, 196) (103, 137, 131) (24, 29, 49) */

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:rgb(24, 29, 49);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

.nav-li {
    float: left;
}

.nav-a {
    display: block;
    padding: 15px;
    color:rgb(240, 233, 210);
    text-decoration: none;
    text-align: center;
}

.nav-a:hover {
    background-color: rgb(103, 137, 131)
}

.nav-a:active {
    background-color: rgb(103, 137, 131)
}

body {
    font-family: 'Roboto Mono', monospace;
    margin: 75px 5%;
}

.disclaimer {
    color: rgb(230, 221, 196);
    padding: 1%;
    margin: 0 20% 0 0;
}

aside {
    height: 90%;
    width: 15%;
    display: inline-block;
    position: fixed;
    top: 10%;
    right: 2%;
    padding: 10% 2%;
    text-align: center;
    font-size: 12px;
    background:rgba(103, 137, 131, 0.5)
}
section {
    padding: 3% 5%;
    margin: 2% 20% 2% 0;
}

.a {
    background: rgb(240, 233, 210);
}

.b {
    background: rgba(240, 233, 210, 0.25);
}

a {
    color: rgb(103, 137, 131);
}

h1, h2 {
    font-family: 'Pacifico', cursive;
    color: rgb(24, 29, 49);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

.strikeThrough {
    text-decoration: line-through;
}